
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

#messages {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    width: 80%;
    margin: 20px auto;
}

#messages p {
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#messages p:last-child {
    border-bottom: none;
}

#message {
    width: 70%;
    height: 30px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#send {
    width: 20%;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

#send:hover {
    background-color: #3e8e41;
}
h1{
    text-align:center;
}